/* Start Global Rules  */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
body{
font-family: 'Cairo', sans-serif;
  background-color: #dde3f1;
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #0d213c;
  font-size: 100px;
  text-align: center;
  font-weight: 1200;
  margin: 0;
  background-color: #8db8e3;
  padding: 15px;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-right: 10px solid black;
  border-left: 10px solid black;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width:768px){
  .container{
      width: 750px;
  }
}

/* Medium */
@media(min-width:992px){
  .container{
      width: 970px;
  }
}
/* Large */
@media(min-width:1200px){
  .container{
      width:1170px;
  }
}
/* End Golbal Rules  */
/* Start Header  */
header {
width: 100%;
left: 0;
z-index: 2;
box-shadow: 0 0 10px #030d42;
}
header  ul{
  list-style: none;
}
header .container{
display: flex;
justify-content: space-between;
align-items: center; /* to make this elements in the center from Height  */
position: relative; 
min-height: 100px;
background-image: url(../images/2175136.jpg);
}
header .container .logo img{
height: 90px;
}
header .container .text{
padding: 0 10px;
display: flex;
justify-content: center;
}
header .container .text h1{
color: white;

}

header nav{   
flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;
}

header nav ul{
display: flex;
}
header nav ul li a{
padding: 30px 10px;
display: block;
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
transition: 0.3s;
position: relative;
z-index: 2;
}

header nav ul li a:hover{
background-color: #008cba;
  color: black;
  border-radius: 10%;
}
header .sign{
  width: 100px;
  height: 60px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
}


.sign .bo a {
text-decoration: none;
color: white;
font-size: 15px;
font-weight: bold;
}
.sign .bo {
  border-radius: 40px;
  padding: 8px;
  font-weight: bold;
  background-color: #008cba00;
  border: #8db8e3 solid 1px;
}
.sign .bo:hover {
  background-color: #008cba;

  border-color: black;
  cursor: pointer;
}
.sign .bo:hover a {
  color: black;
}
/* End Header  */
/* Start Parts */
.parts {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.7;
}
.parts .container .parts-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    direction: rtl;
}
.parts .container .parts-content .info{
    display: flex;
    justify-content: space-between;
}
.parts .container .parts-content .info .text{
    width: 60%;
}
.parts .container .parts-content h1{
    font-size: 45px;
    background-color: #8db8e396;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;

}
.parts .container .parts-content h2{
    font-size: 35px;
    background-color: #aec9e9;
    padding: 2px;
    padding-right: 5px;
    width: 50%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 10px solid black;

}
.parts .container .parts-content h3{
    font-size: 30px;
    font-weight:bold;
    margin-top: 10px;
    width: 25%;
    background-color: #aec9e9;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-right: 10px;
}
.parts .container .parts-content .width{
width: 50%;
}
.parts .container .parts-content  p{
    font-size: 25px;
    padding: 10px;
}
.parts .container .parts-content .info .image{
     width: 300px;
}
.parts .container .parts-content .info .image img{
  width: 310px;
  height: 250px;
    border-radius: 10%;
}
.parts .container .parts-content ol {
padding-right: 30px;
}
.parts .container .parts-content ol li{
    font-size: 25px;
}

/* End Parts */
  /* Start Footer  */
  .footer{
    background-color: #0d213c;
  }
    .footer .container .footer-content {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #0d213c;
      color: white;
    }
    .footer .container .footer-content .text h3{
      font-size: 30px;
      padding: 20px;  
    }
    .footer .container .footer-content  .social {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px 0;
    }
    .footer .container .footer-content  .social .center{
      display: flex;
      justify-content: space-evenly;
      width: 30%;
    }
    .footer .container .footer-content  .social .center i {
      font-size: 30px;
      color: white;
    }
    .footer .container .footer-content  .social .center i:hover {
      color: #008cba;
    }
  
  
    .footer .container .footer-content nav{
      flex: 1; 
      display: flex ;
      justify-content: center;
      background-color: #344c6c;
      width: 100%;
      border-radius: 10%;
    }
    .footer .container .footer-content nav ul{
      display: flex;
  
    }
    .footer .container .footer-content nav ul a{
      display: block;
      text-decoration: none;
      font-size: 20px;
      padding: 20px;
      color: white;
      transition: 0.2s;
    }
    .footer .container .footer-content nav ul a:hover{
      background-color: #008cba;
      color: black;
      border-radius: 20%;
    }
  
    .footer .container .footer-content  .copyright {
      padding: 20px;
      font-size: 20px;
    }
    /* End Footer  */
    /* Start Up  */
    .up{
      position: fixed;
      background-color: #008cba;
      padding: 10px 15px;
      border-radius: 30%;
      color: white;
      transition: 0.4s;
      right: -100px;
    }
    .up:hover{
      bottom: 18px;
      padding: 12px 17px;
      color: black;
      cursor: pointer;
    }
    .up.display{
      bottom: 15px;
      right: 15px;
    }
    .up i {
      font-size: 30px;
    }
/* End Up  */