/* Start Global Rules  */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
    background-color: #dde3f1;
}
ul{
    list-style: none;  
  
}
  /* End Global Rules */
  /* Start Components */
  .special-heading {
    color: #0d213c;
    font-size: 100px;
    text-align: center;
    font-weight: 1200;
    margin: 0;
    background-color: #8db8e3;
    padding: 15px;
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-right: 10px solid black;
    border-left: 10px solid black;
  }
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
     
}

/* Small */
@media (min-width:768px){
  .container{
      width: 750px;
  }
}

/* Medium */
@media(min-width:992px){
  .container{
      width: 970px;
  }
}
/* Large */
@media(min-width:1200px){
  .container{
      width:1170px;
  }
}

/* End Golbal Rules  */
/* Start Header  */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;

}
header .container{
display: flex;
justify-content: space-between;
align-items: center;
position: relative; 
min-height: 100px;
}

header .container::after{
  /* the line  */
  content: "";
  position: absolute;    
  background-color: #a2a3a2;
 width: calc(100% - 30px); /* from the width of his parent   */
  height: 1px;
  bottom: 0;
  left: 15px; 
  /* 15px is the padding right and left for container  */
}

header .container .logo img{
  height: 90px;
}
header .container .text{
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
header .container .text h1{
  color: white;

}

header nav{    
  flex: 1;  
  /* to take all free space  */
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

header nav ul{
  display: flex;
} 
header nav ul li a{
  padding: 30px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s;
  position: relative;
  z-index: 2;
}


header nav ul li a:hover{
  background-color: #008cba;
    color: black;
    border-radius: 10%;
}
header .sign{
  width: 100px;
  height: 60px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
}


.sign .bo a {
text-decoration: none;
color: white;
font-size: 15px;
font-weight: bold;
}
.sign .bo {
  border-radius: 40px;
  padding: 8px;
  font-weight: bold;
  background-color: #008cba00;
  border: #8db8e3 solid 1px;
}
.sign .bo:hover {
  background-color: #008cba;

  border-color: black;
  cursor: pointer;
}
.sign .bo:hover a {
  color: black;
}
/* End Header  */
/* Start Landing Section */
.landing{
    height: 100vh; 
    /* to take all the heidht of screen  */
    background-image: url(../images/2175137.jpg);
    background-color: #fafafa;
    background-size:cover;
    /* to cover all the screen */
  }
  .landing .landing-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  .landing .landing-content form{
      z-index: 100000;
      background-color: #008cba73;
    width: 400px;
    height: 450px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 25px; 
}

.landing .landing-content form h1{
    font-size: 40px;
    margin-top: 15px;
    color: white;
}
.landing .landing-content form label{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;


}
.landing .landing-content form label:hover{
    cursor: pointer;
    color: black;
}
.landing .landing-content input::placeholder{
    color: rgb(180, 170, 170); 
    transition: 0.3s;
}
.landing .landing-content form input{
    /*
    [type="email"], form input[type="number"] 
    */
    border: 0;
    display: block;
    border-radius: 25px;
    padding: 20px 20px;
    outline: none;
    width: 70%;
    
}

.landing .landing-content .write:focus::placeholder {
    color: white;

}
.landing .landing-content form .send {
    width: 30%;
    padding: 20px 15px;
    margin: 15px 0 ;
    border: 0;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
    transition: .3s;
}
.landing .landing-content form .send:hover{
    background-color: #008cba;
    border-color: black;
    cursor: pointer;
}


form .data{
    display: flex;
    flex-direction: column; 
}
form .data .d{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
   /* End Landing Section */
     /* Start Footer  */
.footer{
    background-color: #0d213c;
  }
    .footer .container .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #0d213c;
      color: white;
    }
    .footer .container .footer-content .text h3{
      font-size: 30px;
      padding: 20px;
  
    }
    .footer .container .footer-content  .social {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px 0;
    }
    .footer .container .footer-content  .social .center{
      display: flex;
      justify-content: space-evenly;
      width: 30%;
    }
    .footer .container .footer-content  .social .center i {
      font-size: 30px;
      color: white;
  
    }
    .footer .container .footer-content  .social .center i:hover {
      color: #008cba;
    }
  
  
    .footer .container .footer-content nav{
      flex: 1; 
      display: flex ;
      justify-content: center;
      background-color: #344c6c;
      width: 100%;
      border-radius: 10%;
    }
    .footer .container .footer-content nav ul{
      display: flex;
  
    }
    .footer .container .footer-content nav ul a{
      display: block;
      text-decoration: none;
      font-size: 20px;
      padding: 20px;
      color: white;
      transition: 0.2s;
    }
    .footer .container .footer-content nav ul a:hover{
      background-color: #008cba;
      color: black;
      border-radius: 20%;
    }
  
    .footer .container .footer-content  .copyright {
      padding: 20px;
      font-size: 20px;
    }
    /* End Footer  */